In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\matencio\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\matencio\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install numpy

Requirement already satisfied: numpy in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (1.26.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
pip install gdown

Requirement already satisfied: gdown in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (5.1.0)
Requirement already satisfied: beautifulsoup4 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from gdown) (2.31.0)
Requirement already satisfied: tqdm in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from gdown) (4.66.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from requests[socks]->gdown) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from requests[socks]->gdown) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from requests[socks]->gdown) (2024.2.2)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\matencio\appdata\roaming\python\python311\site-packages (from tqdm->gdown) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
pip install langdetect

Requirement already satisfied: langdetect in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\matencio\appdata\roaming\python\python311\site-packages (from langdetect) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
pip install nltk

Requirement already satisfied: nltk in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\users\matencio\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd

In [10]:
import numpy as np

In [11]:
import os

In [12]:
import json

In [13]:
from langdetect import detect

In [14]:
import nltk

In [15]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [16]:
import warnings
warnings.filterwarnings("ignore")

In [17]:
import ast

In [18]:
from pandas.io.parquet import to_parquet

In [19]:
from pandas import json_normalize

In [20]:
pip install utils

Requirement already satisfied: utils in c:\users\matencio\appdata\local\programs\python\python311\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import utils

In [22]:
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\matencio\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

1. Cargar El Dataset Australian User Reviews asignado por SoyHenry - Conjuntos de Datos de la Plataforma Steam

In [23]:
def load_json_lines(file_path):
    """Load a JSON Lines file."""
    data = []
    with open(file_path, 'r', encoding = 'utf-8 ') as file:
        for line in file:
            data.append(ast.literal_eval(line))
    return pd.DataFrame(data)

In [24]:
# Cargar y luego mostrar el Archivo Australian User Reviews Json
df_reviews = load_json_lines("australian_user_reviews.json")

In [25]:
# Corregir el formato del JSON
datos_reviews= df_reviews.replace("'", '"')

2. Exploremos y Analicemos el DataSet asignado

In [26]:
print("Mostrar las Primeras filas del DataFrame")
df_reviews.head()

Mostrar las Primeras filas del DataFrame

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

Con esta Consulta en Codigo, validamos que el DataFrame contiene 3 Columnas: user_id, user_url y reviews. La columna Reviews contiene bastante informacion, podemos investigar un poco mas sobre ella.

In [27]:
#Analicemos la columna de user_id
df_reviews.info

<bound method DataFrame.info of                  user_id                                           user_url  \
0      76561197970982479  http://steamcommunity.com/profiles/76561197970...
1                js41637               http://steamcommunity.com/id/js41637
2              evcentric             http://steamcommunity.com/id/evcentric
3                  doctr                 http://steamcommunity.com/id/doctr
4              maplemage             http://steamcommunity.com/id/maplemage
...                  ...                                                ...
25794  76561198306599751  http://steamcommunity.com/profiles/76561198306...
25795           Ghoustik              http://steamcommunity.com/id/Ghoustik
25796  76561198310819422  http://steamcommunity.com/profiles/76561198310...
25797  76561198312638244  http://steamcommunity.com/profiles/76561198312...
25798        LydiaMorley           http://steamcommunity.com/id/LydiaMorley

                                                 reviews
0      [{'funny': '', 'posted': 'Posted November 5, 2...
1      [{'funny': '', 'posted': 'Posted June 24, 2014...
2      [{'funny': '', 'posted': 'Posted February 3.',...
3      [{'funny': '', 'posted': 'Posted October 14, 2...
4      [{'funny': '3 people found this review funny',...
...                                                  ...
25794  [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795  [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796  [{'funny': '1 person found this review funny',...
25797  [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798  [{'funny': '1 person found this review funny',...

[25799 rows x 3 columns]>

La Columna Reviews, esta Anidada. Debemos transformarla.

In [28]:
def Eliminar_duplicados(df_reviews):
    #Utilizamos json normalize para aplanar los valores en la columna
    flattened_reviews = json_normalize(df_reviews["reviews"])

    #Agregamos user_id de primero
    flattened_reviews = pd.concat([df_reviews["user_id"], flattened_reviews], axis=1)

    #Eliminamos las filas que no tienen, Valores duplicados
    user_reviews = flattened_reviews[flattened_reviews.duplicated(subset = "user_id")]
    return user_reviews

In [29]:
user_reviews = Eliminar_duplicados(df_reviews)

user_reviews

,user_id,0,1,2,3,4,5,6,7,8,9
456,bokkkbokkk,"{'funny': '', 'posted': 'Posted September 24, ...",None,None,None,None,None,None,None,None,None
1182,ImSeriouss,"{'funny': '', 'posted': 'Posted January 10, 20...","{'funny': '', 'posted': 'Posted January 10, 20...","{'funny': '', 'posted': 'Posted December 17, 2...","{'funny': '', 'posted': 'Posted January 13, 20...","{'funny': '', 'posted': 'Posted January 10, 20...","{'funny': '', 'posted': 'Posted March 19, 2012...",None,None,None,None
1456,76561198062039159,"{'funny': '', 'posted': 'Posted August 24, 201...","{'funny': '1 person found this review funny', ...","{'funny': '', 'posted': 'Posted January 26.', ...","{'funny': '', 'posted': 'Posted December 11, 2...","{'funny': '', 'posted': 'Posted April 9, 2014....","{'funny': '', 'posted': 'Posted November 25, 2...",None,None,None,None
1477,76561198045009232,"{'funny': '', 'posted': 'Posted October 31, 20...",None,None,None,None,None,None,None,None,None
1746,nitr0ticwolf,"{'funny': '', 'posted': 'Posted December 12, 2...","{'funny': '', 'posted': 'Posted December 5, 20...","{'funny': '', 'posted': 'Posted July 27, 2015....","{'funny': '', 'posted': 'Posted July 27, 2015....","{'funny': '', 'posted': 'Posted January 15, 20...","{'funny': '', 'posted': 'Posted January 15, 20...","{'funny': '', 'posted': 'Posted January 13, 20...","{'funny': '', 'posted': 'Posted January 13, 20...","{'funny': '', 'posted': 'Posted June 26, 2014....",None
...,...,...,...,...,...,...,...,...,...,...,...
17819,76561198076474887,"{'funny': '', 'posted': 'Posted April 12.', 'l...",None,None,None,None,None,None,None,None,None
17916,yolofaceguy,"{'funny': '', 'posted': 'Posted October 31, 20...","{'funny': '', 'posted': 'Posted September 2, 2...",None,None,None,None,None,None,None,None
18028,76561198075591109,"{'funny': '', 'posted': 'Posted December 26, 2...",None,None,None,None,None,None,None,None,None
18234,76561198092022514,"{'funny': '', 'posted': 'Posted July 3.', 'las...","{'funny': '', 'posted': 'Posted June 1.', 'las...","{'funny': '', 'posted': 'Posted August 17, 201...","{'funny': '', 'posted': 'Posted February 17, 2...",None,None,None,None,None,None
18309,SuchGayMuchWow,"{'funny': '', 'posted': 'Posted July 18, 2015....",None,None,None,None,None,None,None,None,None

In [30]:
user_reviews = pd.melt(user_reviews, id_vars=["user_id"], 
                       value_vars=user_reviews.columns[2:11],
                       value_name="reviews")
user_reviews.head()

,user_id,variable,reviews
0,bokkkbokkk,1,None
1,ImSeriouss,1,"{'funny': '', 'posted': 'Posted January 10, 20..."
2,76561198062039159,1,"{'funny': '1 person found this review funny', ..."
3,76561198045009232,1,None
4,nitr0ticwolf,1,"{'funny': '', 'posted': 'Posted December 5, 20..."

Se aprecian muchos valores None en el DataFrame, procedemos con eliminar ls filas que contengan none

In [31]:
user_reviews[user_reviews["user_id"]=="76561198045009232"]

                user_id variable reviews
3     76561198045009232        1    None
317   76561198045009232        2    None
631   76561198045009232        3    None
945   76561198045009232        4    None
1259  76561198045009232        5    None
1573  76561198045009232        6    None
1887  76561198045009232        7    None
2201  76561198045009232        8    None
2515  76561198045009232        9    None

In [32]:
#Eliminar estos valore None en algunos usuarios
user_reviews = user_reviews.dropna()

#Verifiquemos que solo quede el user id con la  mayor cantidad de reviews que corresponda
user_reviews[user_reviews["user_id"]== "76561198045009232"]

Empty DataFrame
Columns: [user_id, variable, reviews]
Index: []

In [33]:
user_reviews[user_reviews["user_id"]== "bokkkbokkk"]

Empty DataFrame
Columns: [user_id, variable, reviews]
Index: []

In [34]:
#Vemos como va quedando nuestro datadrame
user_reviews.head(20)

,user_id,variable,reviews
1,ImSeriouss,1,"{'funny': '', 'posted': 'Posted January 10, 20..."
2,76561198062039159,1,"{'funny': '1 person found this review funny', ..."
4,nitr0ticwolf,1,"{'funny': '', 'posted': 'Posted December 5, 20..."
5,nitrorupe,1,"{'funny': '', 'posted': 'Posted January 5, 201..."
6,76561198083347489,1,"{'funny': '', 'posted': 'Posted May 15, 2015.'..."
7,Ppkdoevil,1,"{'funny': '', 'posted': 'Posted July 10, 2015...."
8,camo88,1,"{'funny': '', 'posted': 'Posted January 21, 20..."
9,64512328,1,"{'funny': '', 'posted': 'Posted June 7, 2015.'..."
12,dabdabdabdab,1,"{'funny': '', 'posted': 'Posted July 16.', 'la..."
14,VoxMaro,1,"{'funny': '', 'posted': 'Posted July 24, 2015...."
16,4801,1,"{'funny': '', 'posted': 'Posted September 1, 2..."
17,76561198094665607,1,"{'funny': '1 person found this review funny', ..."
19,76561198018736748,1,"{'funny': '', 'posted': 'Posted March 24, 2012..."
20,FakMuther1234,1,"{'funny': '', 'posted': 'Posted October 4, 201..."
23,DieMadchenschanderin,1,"{'funny': '', 'posted': 'Posted October 5, 201..."
25,111222333444555666888,1,"{'funny': '', 'posted': 'Posted February 1.', ..."
27,NaruseAiria,1,"{'funny': '', 'posted': 'Posted October 15, 20..."
28,oLdxZ5vt,1,"{'funny': '', 'posted': 'Posted January 31, 20..."
29,aket87,1,"{'funny': '', 'posted': 'Posted June 26, 2014...."
32,BananaCar,1,"{'funny': '', 'posted': 'Posted February 19, 2..."

In [35]:
#Convertimos cada Diccionario en Columna

df_reviews = user_reviews["reviews"].apply(pd.Series, dtype="object")
df_reviews = df_reviews.add_prefix("reviews_")
df_reviews.head(10) #Visualizo las 10 primeras Filas

,reviews_funny,reviews_posted,reviews_last_edited,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
1,,"Posted January 10, 2014.",,105600,0 of 2 people (0%) found this review helpful,True,So fun! DEFINITELY NOT RIP OFF OF MINECRAFT! e...
2,1 person found this review funny,"Posted June 23, 2014.",,222880,2 of 2 people (100%) found this review helpful,True,This is possibly the best tactical FPS i've ev...
4,,"Posted December 5, 2015.",,286100,No ratings yet,True,"nice game, i like the retro style"
5,,"Posted January 5, 2014.",,218230,0 of 1 people (0%) found this review helpful,True,A evolução de BF3!
6,,"Posted May 15, 2015.",,252490,No ratings yet,True,Let the rockets guide you.
7,,"Posted July 10, 2015.",,315430,No ratings yet,True,"as instruções não foram muito claras, prendi m..."
8,,"Posted January 21, 2014.",,240,No ratings yet,True,"Hey guys, well counterstrike source, i have to..."
9,,"Posted June 7, 2015.",,346110,0 of 1 people (0%) found this review helpful,True,You can Tame and ride dinos.has good survival ...
12,,Posted July 16.,,440,1 of 6 people (17%) found this review helpful,True,─█────█─█──█────█────█────█─█──█─█────█─█▀▀█──...
14,,"Posted July 24, 2015.",,245390,1 of 2 people (50%) found this review helpful,True,this games ♥♥♥♥ed up this game ♥♥♥♥ed me up

In [36]:
df_reviews = pd.concat([user_reviews[["user_id"]], df_reviews], axis=1)
df_reviews.head(10)

,user_id,reviews_funny,reviews_posted,reviews_last_edited,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
1,ImSeriouss,,"Posted January 10, 2014.",,105600,0 of 2 people (0%) found this review helpful,True,So fun! DEFINITELY NOT RIP OFF OF MINECRAFT! e...
2,76561198062039159,1 person found this review funny,"Posted June 23, 2014.",,222880,2 of 2 people (100%) found this review helpful,True,This is possibly the best tactical FPS i've ev...
4,nitr0ticwolf,,"Posted December 5, 2015.",,286100,No ratings yet,True,"nice game, i like the retro style"
5,nitrorupe,,"Posted January 5, 2014.",,218230,0 of 1 people (0%) found this review helpful,True,A evolução de BF3!
6,76561198083347489,,"Posted May 15, 2015.",,252490,No ratings yet,True,Let the rockets guide you.
7,Ppkdoevil,,"Posted July 10, 2015.",,315430,No ratings yet,True,"as instruções não foram muito claras, prendi m..."
8,camo88,,"Posted January 21, 2014.",,240,No ratings yet,True,"Hey guys, well counterstrike source, i have to..."
9,64512328,,"Posted June 7, 2015.",,346110,0 of 1 people (0%) found this review helpful,True,You can Tame and ride dinos.has good survival ...
12,dabdabdabdab,,Posted July 16.,,440,1 of 6 people (17%) found this review helpful,True,─█────█─█──█────█────█────█─█──█─█────█─█▀▀█──...
14,VoxMaro,,"Posted July 24, 2015.",,245390,1 of 2 people (50%) found this review helpful,True,this games ♥♥♥♥ed up this game ♥♥♥♥ed me up

In [37]:
#La columna reviews_last_edited tiene casi todos sus valores en Blanco, se deben reemplazar
df_reviews.replace("", None, inplace=True)
df_reviews.head(10)

,user_id,reviews_funny,reviews_posted,reviews_last_edited,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
1,ImSeriouss,None,"Posted January 10, 2014.",None,105600,0 of 2 people (0%) found this review helpful,True,So fun! DEFINITELY NOT RIP OFF OF MINECRAFT! e...
2,76561198062039159,1 person found this review funny,"Posted June 23, 2014.",None,222880,2 of 2 people (100%) found this review helpful,True,This is possibly the best tactical FPS i've ev...
4,nitr0ticwolf,None,"Posted December 5, 2015.",None,286100,No ratings yet,True,"nice game, i like the retro style"
5,nitrorupe,None,"Posted January 5, 2014.",None,218230,0 of 1 people (0%) found this review helpful,True,A evolução de BF3!
6,76561198083347489,None,"Posted May 15, 2015.",None,252490,No ratings yet,True,Let the rockets guide you.
7,Ppkdoevil,None,"Posted July 10, 2015.",None,315430,No ratings yet,True,"as instruções não foram muito claras, prendi m..."
8,camo88,None,"Posted January 21, 2014.",None,240,No ratings yet,True,"Hey guys, well counterstrike source, i have to..."
9,64512328,None,"Posted June 7, 2015.",None,346110,0 of 1 people (0%) found this review helpful,True,You can Tame and ride dinos.has good survival ...
12,dabdabdabdab,None,Posted July 16.,None,440,1 of 6 people (17%) found this review helpful,True,─█────█─█──█────█────█────█─█──█─█────█─█▀▀█──...
14,VoxMaro,None,"Posted July 24, 2015.",None,245390,1 of 2 people (50%) found this review helpful,True,this games ♥♥♥♥ed up this game ♥♥♥♥ed me up

In [38]:
print(df_reviews.info())

print("\nValores nulos por Columna:")
print(df_reviews.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 561 entries, 1 to 2788
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              561 non-null    object
 1   reviews_funny        83 non-null     object
 2   reviews_posted       561 non-null    object
 3   reviews_last_edited  70 non-null     object
 4   reviews_item_id      561 non-null    object
 5   reviews_helpful      561 non-null    object
 6   reviews_recommend    561 non-null    bool
 7   reviews_review       561 non-null    object
dtypes: bool(1), object(7)
memory usage: 35.6+ KB
None

Valores nulos por Columna:
user_id                  0
reviews_funny          478
reviews_posted           0
reviews_last_edited    491
reviews_item_id          0
reviews_helpful          0
reviews_recommend        0
reviews_review           0
dtype: int64

In [39]:
#Eliminemos las columnas reviews_funny y la columna reviews_last_edited, ambas presentan 478 y 497 valores None
df_reviews = df_reviews.drop(columns=["reviews_funny", "reviews_last_edited"])
df_reviews.columns

Index(['user_id', 'reviews_posted', 'reviews_item_id', 'reviews_helpful',
       'reviews_recommend', 'reviews_review'],
      dtype='object')

La Columna reviews_posted requiere ser transformada tambien. Se necesita que el formato del dato sea YYY-MM-DD.

In [40]:
unique_posted_values = df_reviews["reviews_posted"].unique()
for value in unique_posted_values:
    print(value)

Posted January 10, 2014.
Posted June 23, 2014.
Posted December 5, 2015.
Posted January 5, 2014.
Posted May 15, 2015.
Posted July 10, 2015.
Posted January 21, 2014.
Posted June 7, 2015.
Posted July 16.
Posted July 24, 2015.
Posted September 1, 2013.
Posted December 6, 2013.
Posted March 24, 2012.
Posted October 4, 2015.
Posted October 5, 2015.
Posted February 1.
Posted October 15, 2014.
Posted January 31, 2015.
Posted June 26, 2014.
Posted February 19, 2015.
Posted February 13, 2012.
Posted March 22.
Posted December 7, 2015.
Posted November 25, 2015.
Posted July 18, 2013.
Posted August 30, 2015.
Posted December 26, 2013.
Posted January 16.
Posted December 23, 2015.
Posted October 6, 2015.
Posted August 10, 2015.
Posted October 20, 2015.
Posted May 1, 2015.
Posted April 2.
Posted January 13, 2015.
Posted September 6, 2014.
Posted January 3, 2014.
Posted August 26.
Posted April 15, 2014.
Posted August 7, 2014.
Posted August 1, 2014.
Posted June 2, 2015.
Posted October 15, 2015.
Posted November 20, 2014.
Posted July 7.
Posted June 24.
Posted March 14.
Posted January 23.
Posted September 22, 2014.
Posted June 20, 2014.
Posted March 5, 2015.
Posted March 24.
Posted October 31, 2014.
Posted March 18.
Posted July 25, 2014.
Posted November 8, 2014.
Posted February 23, 2015.
Posted October 3, 2015.
Posted June 11.
Posted June 7, 2014.
Posted November 18, 2014.
Posted November 21, 2014.
Posted May 26, 2015.
Posted February 5, 2015.
Posted February 13, 2014.
Posted July 3, 2014.
Posted March 25, 2014.
Posted May 18, 2012.
Posted August 11.
Posted April 1, 2012.
Posted January 17, 2015.
Posted September 5.
Posted December 21, 2015.
Posted April 18, 2015.
Posted January 4, 2014.
Posted September 18, 2014.
Posted June 25, 2015.
Posted May 17.
Posted July 20, 2015.
Posted December 28, 2015.
Posted May 23.
Posted April 3, 2015.
Posted December 24, 2015.
Posted March 28, 2014.
Posted June 27, 2014.
Posted September 15.
Posted September 21, 2014.
Posted January 13, 2014.
Posted May 30, 2015.
Posted December 8, 2014.
Posted February 3, 2015.
Posted September 1.
Posted July 5, 2015.
Posted June 21, 2014.
Posted December 4, 2014.
Posted August 3, 2011.
Posted March 25.
Posted September 24, 2014.
Posted June 4, 2015.
Posted December 11, 2013.
Posted April 27, 2015.
Posted July 4, 2015.
Posted March 24, 2015.
Posted January 20, 2015.
Posted January 30, 2015.
Posted September 12, 2015.
Posted September 2, 2015.
Posted November 18, 2015.
Posted November 26, 2013.
Posted October 13, 2015.
Posted October 25, 2014.
Posted February 26.
Posted December 15, 2015.
Posted December 4, 2015.
Posted May 21, 2014.
Posted September 8, 2014.
Posted June 16.
Posted January 25, 2015.
Posted March 19, 2013.
Posted October 8, 2015.
Posted June 29.
Posted January 28, 2015.
Posted January 5, 2015.
Posted April 11.
Posted November 13, 2014.
Posted October 14, 2014.
Posted December 25, 2015.
Posted December 5, 2014.
Posted January 21.
Posted August 14.
Posted March 8.
Posted April 14, 2014.
Posted June 3, 2015.
Posted November 28, 2013.
Posted April 10, 2014.
Posted July 21.
Posted August 29.
Posted April 29, 2015.
Posted September 8, 2015.
Posted May 4, 2013.
Posted June 24, 2013.
Posted September 26, 2014.
Posted September 12.
Posted November 1, 2015.
Posted May 12, 2015.
Posted April 8.
Posted December 9, 2015.
Posted July 26, 2014.
Posted January 23, 2015.
Posted May 26, 2014.
Posted August 17, 2014.
Posted April 30, 2015.
Posted April 24, 2015.
Posted December 27, 2014.
Posted May 14.
Posted February 6, 2014.
Posted June 13, 2015.
Posted October 23, 2014.
Posted August 4, 2015.
Posted September 29, 2013.
Posted May 13, 2014.
Posted September 2, 2014.
Posted June 1.
Posted December 17, 2014.
Posted January 26.
Posted July 27, 2015.
Posted March 29.
Posted February 22, 2014.
Posted December 29, 2013.
Posted October 23, 2015.
Posted December 1, 2013.
Posted June 8, 2015.
Posted December 20, 2013.
Posted July 25.
Posted August 19.
Posted December 26, 2015.
Posted December 20, 2015.
Posted February 15, 2015.
Posted September 20, 2015.
Posted July 6, 2015.
Posted October 11, 2015.
Posted September 11, 2015.
Posted December 31, 2014.
Posted July 17, 2014.
Posted August 10.
Posted March 15, 2014.
Posted January 15, 2014.
Posted November 1, 2014.
Posted March 30.
Posted April 29.
Posted August 22, 2015.
Posted July 31, 2014.
Posted October 4, 2013.
Posted February 17.
Posted August 26, 2014.
Posted May 22, 2014.
Posted August 21.
Posted February 11, 2014.
Posted June 18, 2015.
Posted October 30, 2015.
Posted April 21, 2014.
Posted December 18, 2013.
Posted April 23, 2014.
Posted June 26.
Posted August 29, 2015.
Posted August 8.
Posted March 13, 2015.
Posted April 17.
Posted July 4.
Posted March 5, 2013.
Posted January 7.
Posted December 16, 2013.
Posted May 22.
Posted January 29, 2014.
Posted December 13, 2014.
Posted June 6, 2014.
Posted December 10, 2013.
Posted November 16, 2015.
Posted November 19, 2013.
Posted June 11, 2015.
Posted April 9, 2014.
Posted June 19, 2015.
Posted January 18, 2013.
Posted November 26, 2014.
Posted August 31, 2015.
Posted April 6, 2014.
Posted August 4, 2013.
Posted August 12, 2014.
Posted July 8, 2014.
Posted December 1, 2014.
Posted March 7, 2015.
Posted April 14.
Posted October 26, 2015.
Posted June 17, 2015.
Posted September 4.
Posted December 3, 2015.
Posted May 23, 2015.
Posted September 13, 2014.
Posted January 7, 2013.
Posted October 24, 2014.
Posted January 14, 2015.
Posted May 9, 2015.
Posted August 21, 2015.
Posted August 22, 2014.
Posted July 21, 2015.
Posted September 6, 2012.
Posted March 8, 2013.
Posted July 31.
Posted December 28, 2014.
Posted February 10.
Posted June 30, 2015.
Posted December 23, 2014.
Posted July 14.
Posted June 22, 2014.
Posted July 7, 2014.
Posted December 17, 2013.
Posted February 4, 2014.
Posted December 11, 2015.
Posted March 19, 2011.
Posted March 8, 2014.
Posted February 14.
Posted June 14, 2013.
Posted November 23, 2014.
Posted October 24, 2015.
Posted November 20, 2015.
Posted January 4.
Posted July 15, 2014.
Posted August 3, 2015.
Posted June 22, 2015.
Posted September 21, 2015.
Posted April 2, 2015.
Posted December 11, 2012.
Posted December 19, 2014.
Posted February 1, 2014.
Posted September 27, 2015.
Posted October 3, 2014.
Posted May 15.
Posted April 19, 2015.
Posted August 9, 2014.
Posted July 1.
Posted April 12, 2014.
Posted August 19, 2014.
Posted April 28.
Posted September 14, 2015.
Posted August 13.
Posted February 22, 2015.
Posted February 16.
Posted September 9, 2014.
Posted December 19, 2013.
Posted February 4, 2015.
Posted November 14, 2015.
Posted December 15, 2013.
Posted September 4, 2013.
Posted November 24, 2014.
Posted May 24, 2013.
Posted December 20, 2014.
Posted January 25, 2014.
Posted November 4, 2014.
Posted April 12.
Posted June 10, 2015.
Posted March 5, 2014.
Posted September 23, 2014.
Posted December 30, 2014.
Posted June 30, 2013.
Posted December 16, 2014.
Posted April 11, 2015.
Posted May 24, 2015.
Posted December 18, 2014.
Posted April 18.
Posted August 15, 2015.
Posted August 21, 2014.
Posted June 1, 2015.
Posted January 16, 2015.
Posted April 16, 2014.
Posted July 27.
Posted June 20, 2013.
Posted May 21.
Posted November 25, 2013.
Posted November 4, 2015.
Posted November 29, 2014.
Posted February 17, 2014.
Posted January 15, 2015.
Posted February 14, 2015.
Posted September 23, 2015.
Posted November 22, 2014.
Posted March 29, 2014.
Posted July 3, 2015.
Posted September 18, 2015.
Posted April 10.
Posted February 5.
Posted August 6.
Posted January 4, 2015.
Posted July 14, 2015.
Posted June 30, 2014.
Posted June 14, 2015.
Posted October 8, 2014.
Posted November 6, 2014.
Posted October 29, 2013.
Posted September 10, 2014.
Posted February 4.
Posted December 3, 2013.
Posted January 5.
Posted January 1, 2013.
Posted January 12, 2015.
Posted December 23, 2013.
Posted February 20, 2015.
Posted December 12, 2013.
Posted November 14, 2014.
Posted July 5.
Posted December 26, 2014.
Posted November 8, 2015.
Posted July 1, 2015.
Posted September 30, 2015.
Posted October 28, 2015.
Posted July 16, 2015.
Posted April 26, 2015.
Posted April 23.
Posted April 25.
Posted March 19, 2012.
Posted November 21, 2015.
Posted December 21, 2014.
Posted November 18, 2013.
Posted June 25.
Posted August 30.
Posted January 10.
Posted December 22, 2014.
Posted February 20, 2014.
Posted March 9, 2015.
Posted July 13, 2014.
Posted April 15.
Posted October 12, 2015.
Posted December 2, 2013.
Posted December 21, 2012.
Posted April 3.
Posted May 7, 2014.
Posted July 6, 2014.
Posted November 22, 2015.
Posted May 8, 2015.
Posted June 15, 2015.
Posted October 23, 2013.
Posted January 24.
Posted November 6, 2015.
Posted August 25, 2013.
Posted March 1.
Posted June 19.
Posted July 22, 2013.
Posted February 10, 2014.
Posted May 2, 2014.
Posted November 11, 2013.
Posted September 6, 2015.
Posted February 2, 2014.
Posted March 3, 2014.
Posted July 11, 2015.
Posted October 10, 2015.
Posted September 3, 2015.
Posted July 15, 2015.
Posted January 29, 2015.
Posted April 10, 2015.
Posted May 22, 2015.
Posted July 22, 2014.
Posted May 4, 2015.
Posted October 19, 2015.
Posted December 13, 2012.
Posted September 7, 2014.
Posted October 5, 2014.
Posted August 7.
Posted January 26, 2015.
Posted April 4, 2015.
Posted February 7.
Posted July 18.
Posted April 30.
Posted June 20, 2015.
Posted November 30, 2014.
Posted January 29.
Posted November 24, 2012.
Posted December 31, 2012.
Posted March 17, 2014.
Posted April 5, 2015.

In [41]:
df_reviews["reviews_posted"] = df_reviews["reviews_posted"].astype(str).str.replace(r"Posted |,|/", "", regex=True)

# Convertir la cadena a datetime
df_reviews["reviews_posted"] = pd.to_datetime(df_reviews["reviews_posted"], errors='coerce')

# Ahora df_reviews["reviews_posted"] debería ser de tipo datetime

In [42]:
#Creamos la Coluna Year
df_reviews["year"] = df_reviews["reviews_posted"].dt.year.astype("Int64")
#Ordenamos el DataFrame
ddf_reviews = df_reviews.sort_values(["reviews_item_id", "year"])

In [43]:
ddf_reviews

,user_id,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review,year
645,76561198094665607,2013-12-01,10090,1 of 2 people (50%) found this review helpful,True,Awesome very good because of its custom zombie...,2013
1681,Ranev,2013-11-11,10180,No ratings yet,True,Call of Duty Modern Warfare 2 is a great game!,2013
1076,76561198073446384,NaT,10220,1 of 6 people (17%) found this review helpful,False,It's so bad that half the time the game doesn'...,<NA>
358,29123,2015-04-30,104700,0 of 1 people (0%) found this review helpful,True,"it needs blood when get hit, and some others c...",2015
1355,76561198094304449,2014-02-20,104900,No ratings yet,True,gusta,2014
...,...,...,...,...,...,...,...
113,76561198035721155,2012-05-18,96400,0 of 1 people (0%) found this review helpful,True,"nice game, good for people who like Plat-forming",2012
420,76561198055511400,2014-04-21,98200,No ratings yet,True,awesome game very statigic,2014
529,EucHellscythe,2014-05-22,9940,1 of 5 people (20%) found this review helpful,True,"mayan udah update trading card nya,",2014
236,76561198022404680,2014-10-14,99810,1 of 3 people (33%) found this review helpful,True,"This game was way ahead of its time,,,,,,,,i g...",2014
49,haritharsyadcp,2015-12-23,99900,No ratings yet,True,ok,2015

In [44]:
#Rellenar Valores Nulos
ddf_reviews["year"] = ddf_reviews.groupby("reviews_item_id", group_keys=False)["year"].apply(lambda group: group.interpolate())

In [45]:
#Verificamos si quedan valores nulos, luego de la interpolacion y los rellenamos
ddf_reviews["year"] = ddf_reviews["year"].fillna(ddf_reviews["year"].median())

In [46]:
#Evaluamos el lenguaje de la columna review
def detectar_idioma(texto):
    try:
        return detect(texto)
    except:
        return None

In [47]:
#Creamos una nueva Columna Languaje y aplicamos la funcion para poder detectar el Idioma
ddf_reviews["language"] = ddf_reviews["reviews_review"].apply(detectar_idioma)

In [48]:
#Hago Conteo del Idioma y Luego saco su porcentaje
conteo_idiomas = ddf_reviews["language"].value_counts()
porcentaje_idiomas = ddf_reviews["language"].value_counts(normalize=True) * 100

In [52]:
type(conteo_idiomas)

pandas.core.series.Series

In [54]:
#Si ordenamos el DataSet mejor estara la informacion
conteo_idiomas = conteo_idiomas.sort_values(ascending=False)
conteo_idiomas.head(10)

language
en    441
pt     26
es     11
af      7
it      6
so      6
id      5
ca      5
da      5
pl      4
Name: count, dtype: int64

In [55]:
idiomas = pd.DataFrame({
    "Conteo": conteo_idiomas,
    "Porcentaje": porcentaje_idiomas.round(2).astype(str) + "%"})

In [ ]:
#Guardamos el DataSet ya limpio, en un archivo CSV para posteriormente subirlo a nuestra API

df_reviews.to_csv("user_limpio.csv", index=False)
df_reviews.to_json("user_limpio.json",orient= "records", lines=True)
df_reviews.to_parquet("user_limpio.parquet", index=False)